/* General Styles */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  background-color: #319795;
}

.amatic {
  font-family: "Amatic SC", cursive;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

h2 {
  font-family: "Amatic SC", cursive;
}

/* Header Text */
#header-text {
  font-family: "Amatic SC", cursive;
  font-weight: 400;
}

/* Login Form */
#login-form {
  position: absolute;
  top: 8rem;
  right: 0;
}

#current-user {
  font-family: "Amatic SC", cursive;
}

/* Marker */
.marker {
  position: absolute;
  width: 42px;
  left: -22px;
  top: -42px;
}

/* InfoWindows */
.infoWindow {
  font-size: 16px;
  width: 250px;
  background: none #fff;
  display: inline-block;
  padding: 1em;
  position: absolute;
  border-radius: 10px;
  border-top-left-radius: 0;
  box-shadow: 0 10px 20px rgba(112, 112, 112, 0.19);
  z-index: 3;
  /* left: -100px;
  top: -220px; */
}
.closing-x {
  height: 18px;
  width: 18px;
  background: url("./assets/img/x.svg") no-repeat right;
}
.closing-x:hover {
  background: url("./assets/img/plus.svg") no-repeat right;
}

/* Bloglist */
.bloglist {
  display: grid;
  grid-template-columns: 1fr;
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;
  padding: 1.5rem 0;
}
@media only screen and (min-width: 640px) {
  .bloglist {
    grid-template-columns: 1fr 1fr;
  }
}
@media only screen and (min-width: 768px) {
  .bloglist {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media only screen and (min-width: 1024px) {
  .bloglist {
    padding: 0 1.5rem;
    grid-template-columns: 1fr 1fr;
  }
} 
@media only screen and (min-width: 1280px) {
  .bloglist {
    grid-template-columns: 1fr 1fr;
  }
}
.bloglist__card {
  display: flex;
  flex-direction: column;
  border-radius: 6px;
  background-color: white;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
  position: relative;
  transition: all 0.5s;
  cursor: pointer;
}
.hoverEffect,
.bloglist__card:hover {
  transform: scale(1.04, 1.04);
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
}
.highlighting {
  outline: 4px solid red;
  border-radius: 6px;
}

.bloglist img {
  object-fit: cover;
  border-radius: 6px 6px 0 0 ;
}
.bloglist__content {
  padding: 1rem;
}
.bloglist__title {
  font-size: 24px;
  line-height: 36px;
}
.bloglist__author {
  font-size: 18px;
  line-height: 36px;
}


/* 'sm': '640px' */
/* @media only screen and (min-width: 640px) {} */
/* 'md': '768px' */
/* @media only screen and (min-width: 768px) {} */
/* 'lg': '1024px' */
/* @media only screen and (min-width: 1024px) {} */
/* 'xl': '1280px' */
/* @media only screen and (min-width: 1280px) {} */


/* * { outline: 2px dotted red }
* * { outline: 2px dotted green }
* * * { outline: 2px dotted orange }
* * * * { outline: 2px dotted blue }
* * * * * { outline: 1px solid red }
* * * * * * { outline: 1px solid green }
* * * * * * * { outline: 1px solid orange }
* * * * * * * * { outline: 1px solid blue } */
