.infoWindow {
  font-size: 16px;
  width: 250px;
  background: none #fff;
  display: inline-block;
  padding: 1em;
  position: absolute;
  border-radius: 10px;
  border-top-left-radius: 0;
  box-shadow: 0 10px 20px rgba(112, 112, 112, 0.19);
  z-index: 3;
  /* left: -100px;
  top: -220px; */
}
